
* {
    padding: 0;
    margin: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none; 
}

.nav {
    background: linear-gradient(#19342C, #4A9A82);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px, 10%;
    background: linear-gradient(0.25turn, #19342C, #4A9A82);
    height: 90px;
}

.logo {
    margin-top: 2px;
    border-radius: 10px;
    margin-right: auto;
    width: 60px;
    height: 60px;
    margin-left: 70px;
}

.nav-links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px, 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a :hover{
    color: #0088a9
}

button {
    margin-left: 30px;
    margin-right: 30px;
    padding: 9px 25px;
    background-color: #171616;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #363434;
}

.contenedor {
    margin: 0;
    display: flex;
    padding: none;
    background-color: #171616;
    justify-content: center;
    align-items: center;
}

.texto {
    height: 100px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color:azure; 
    font-size: xx-large;
}


.emoji {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 20%;
    margin-top: 10%;
    margin-bottom: 9.34%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px, 10%;
    background-color: #171616;
    height: 90px;
}

.footer {
    display: flex;
    flex-direction: row;
}



.hablemos{
    color: azure;
    flex-direction: column;
}

.escribeme {
    color: azure;
    flex-direction: column;
}

.follow  {
    color: azure;
    flex-direction: column;
}
